<!DOCTYPE html> 
<html class="no-js ng-scope" ng-app=thoughtsApp ng-controller=Meta>
    <head fbs-track=comscore,ga class=ng-isolate-scope>
        <meta charset=utf-8>
        <title meta-title class=ng-binding>If you don’t take it for granted that... William Feather - Forbes Quotes</title>
        <link rel="stylesheet" href="styles.css">
        <meta name=referrer content=origin>
        <meta name=description content="If you don’t take it for granted that the other man will do his job, you’re not an executive.">
        <meta name=keywords content="quotes, best quotes, daily quotes, famous quotes, great quotes, inspirational quotes, inspiring quotes, life quotes, motivational quotes, positive quotes, quotes about life">
        <link rel=canonical href=#>
        <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name=fragment content=!>
        <meta property=fb:app_id content=123694841080850>
        <meta property=og:type content=article>
        <meta property=og:url content=#>
        <meta property=og:title content="If you don’t take it for granted that... William Feather - Forbes Quotes">
        <meta property=og:description content="If you don’t take it for granted that the other man will do his job, you’re not an executive.">
        <meta property=og:image content="image URL here">
        <meta name=twitter:card content=summary_large_image>
        <meta name=twitter:site content=@forbes>
        <meta name=twitter:title content="If you don’t take it for granted that... William Feather - Forbes Quotes">
        <meta name=twitter:description content="If you don’t take it for granted that the other man will do his job, you’re not an executive.">
        <meta name=twitter:image:src content="image URL here">
        <meta http-equiv=origin-trial content="">
        <link type=image/x-icon rel="shortcut icon" href=files/f.ico>
		<script>
			function mynavfunc() {
			   var element = document.getElementById("mynav");
			   element.classList.toggle("expanded");
			}
			</script>
    </head>
	<body>
		<div id=ga-track></div>
        <div id=comscore></div>
        <div class=page-content fbs-breakpoint-monitor>
            <div class="page-container clearfix">
                <div class="layout clearfix">
                    <div class="left-section scroll ng-scope" ng-controller=Sidebar ng-include src='#'>
                        <nav id=menu class="thoughts-menu ng-scope">
                            <ul>
                                <li>
                                    <h3>Quotes by Topic</h3>
                                    <ul class="two-cols clearfix">
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/self ng-click=toggleSideBar() class=ng-binding href=#>Self</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/anger ng-click=toggleSideBar() class=ng-binding href=#>Anger</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/best ng-click=toggleSideBar() class=ng-binding href=#>Best</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/art ng-click=toggleSideBar() class=ng-binding href=#>Art</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/emotions ng-click=toggleSideBar() class=ng-binding href=#>Emotions</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/executives ng-click=toggleSideBar() class=ng-binding href=#>Executives</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/life ng-click=toggleSideBar() class=ng-binding href=#>Life</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/power ng-click=toggleSideBar() class=ng-binding href=#>Power</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/justice ng-click=toggleSideBar() class=ng-binding href=#>Justice</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/education ng-click=toggleSideBar() class=ng-binding href=#>Education</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/wealth ng-click=toggleSideBar() class=ng-binding href=#>Wealth</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/wisdom ng-click=toggleSideBar() class=ng-binding href=#>Wisdom</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/laughter ng-click=toggleSideBar() class=ng-binding href=#>Laughter</a>
                                        <li ng-repeat="item in sidebar_data.contentPositions" class=ng-scope><a ng-href=theme/greatness ng-click=toggleSideBar() class=ng-binding href=#>Greatness</a>
                                    </ul>
                            </ul>
                        </nav>
                    </div>
                    <div id="mynav" class="right-section anim">
                        <header ng-controller=Header ng-include src=template_path class=ng-scope>
                            <i class="icn forbesicon-menu ng-scope" onclick="mynavfunc()"></i>
                            <h1 class="h h1 ng-scope"><a href=# class="a a2"><em class="icn forbesicon-forbes"></em> <strong>Quotes</strong></a> <span class=header-subtitle>
								<!-- Thoughts On The Business Of Life -->
							</span></h1>
                            <div class="search" do-search id="search-bar-id">
                                <div class=section_contain>
                                    <form class="large_input ng-pristine ng-invalid ng-invalid-required" ng-submit=doSearch();>
                                        <div class=input_holder><input type=text name=search ng-model=search_val placeholder=Search required class="ng-pristine ng-untouched ng-invalid ng-invalid-required" value></div>
                                        <button type=submit class=btn-submit><i class="icn forbesicon-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <a href=# class="home-lnk ng-scope"><em class="icn forbesicon-home"></em><span class="home-title sf-hidden"></span></a>
                        </header>
                        <div class="main-content scroll clearfix ng-scope" ng-view scroll-detection bindonce>
                            <section class="primary-single-thought clearfix anim ng-scope" ng-controller=SingleThought ng-include src=template_path>
                                <div id=leaderboard-singlethought ad-unit=top class="leaderboard-ad homepage ng-scope ng-isolate-scope">
                                    <div id=google_ads_iframe_/7175/fdc.forbes/thoughts_4__container__ style="border:0pt none;width:728px;height:0px"></div>
                                </div>
                                <section class="thoughts-stream thoughts ng-scope">
                                    <div class=section-contain>
                                        <blockquote class=bubble>
                                            <p class=ng-binding>If you don’t take it for granted that the other man will do his job, you’re not an executive.
                                            <footer>
                                                <a ng-href=author/william-feather class="author bubble-trail" href=#> <img ng-if=!single_thought.thoughtAuthor.image src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="300"><rect fill-opacity="0"/></svg>' class=ng-scope style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-8)!important;background-size:100% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"> <cite class=ng-binding>William Feather</cite></a>
                                                <div class=socialize gigya-sharing show-prefix=true>
                                                    <div class=social-icons><span class="share hidden sf-hidden">Share </span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                                </div>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </section>
                            </section>
							
                            <section class="related-theme thoughts-stream thoughts clearfix" ng-controller=RelatedTheme>
                                <h2 class="h h2"><a ng-href=theme/executives href=#>More Quotes on <span class="author ng-binding">Executives</span></a></h2>
									<div class="row">  
									<div ng-repeat="thought in reated_theme_thoughts" class="column masonry-brick item thought ng-scope loaded" ng-switch=thought.type style=position:relative;left:0px;top:0px>
                                        <blockquote class="bubble ng-scope" ng-switch-default>
                                            <a ng-href=6314 href=#>
                                                <p class=ng-binding>The top people of the biggest companies are, surprisingly, often the nicest ones in their company I’m not sure, though, if they got there because they were good guys or that they’re now good guys because they can afford to be.</p>
                                            </a>
                                            <div class=socialize gigya-sharing>
                                                <div class=social-icons><span class="share hidden sf-hidden">Share </span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                            </div>
                                            <footer><a ng-href=author/malcolm-forbes class="author bubble-trail" href=#><img ng-if=thought.thoughtAuthor.image ng-src=http://i.forbesimg.com/media/lists/quotebank/malcolm-forbes_100x100.jpg class=ng-scope src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill-opacity="0"/></svg>' style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-9)!important;background-size:100% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"> <cite class=ng-binding>Malcolm Forbes</cite></a></footer>
                                        </blockquote>
									</div>
									<div ng-repeat="thought in reated_theme_thoughts" class="column masonry-brick item thought ng-scope loaded" ng-switch=thought.type style=position:relative;left:0px;top:0px>
                                        <blockquote class="bubble ng-scope" ng-switch-default>
                                            <a ng-href=6314 href=#>
                                                <p class=ng-binding>The top people of the biggest companies are, surprisingly,if they got there because they were good guys or that they’re now good guys because they can afford to be.</p>
                                            </a>
                                            <div class=socialize gigya-sharing>
                                                <div class=social-icons><span class="share hidden sf-hidden">Share </span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                            </div>
                                            <footer><a ng-href=author/malcolm-forbes class="author bubble-trail" href=#><img ng-if=thought.thoughtAuthor.image ng-src=http://i.forbesimg.com/media/lists/quotebank/malcolm-forbes_100x100.jpg class=ng-scope src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill-opacity="0"/></svg>' style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-9)!important;background-size:100% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"> <cite class=ng-binding>Malcolm Forbes</cite></a></footer>
                                        </blockquote>
									</div>
									<div ng-repeat="thought in reated_theme_thoughts" class="column masonry-brick item thought ng-scope loaded" ng-switch=thought.type style=position:relative;left:0px;top:0px>
                                        <blockquote class="bubble ng-scope" ng-switch-default>
                                            <a ng-href=6314 href=#>
                                                <p class=ng-binding> often the nicest ones in their company I’m not sure, though, if they got there because they were good guys or that they’re now good guys because they can afford to be.</p>
                                            </a>
                                            <div class=socialize gigya-sharing>
                                                <div class=social-icons><span class="share hidden sf-hidden">Share </span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                            </div>
                                            <footer><a ng-href=author/malcolm-forbes class="author bubble-trail" href=#><img ng-if=thought.thoughtAuthor.image ng-src=http://i.forbesimg.com/media/lists/quotebank/malcolm-forbes_100x100.jpg class=ng-scope src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill-opacity="0"/></svg>' style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-9)!important;background-size:100% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"> <cite class=ng-binding>Malcolm Forbes</cite></a></footer>
                                        </blockquote>
									</div>
									<div ng-repeat="thought in reated_theme_thoughts" class="column masonry-brick item thought ng-scope loaded" ng-switch=thought.type style=position:relative;left:0px;top:0px>
                                        <blockquote class="bubble ng-scope" ng-switch-default>
                                            <a ng-href=6314 href=#>
                                                <p class=ng-binding>The top people of the biggest companies are, surprisingly, often the nicest ones in their company I’m not sure, though, if they got there because they were good guys or that they’re now good guys because they can afford to be.</p>
                                            </a>
                                            <div class=socialize gigya-sharing>
                                                <div class=social-icons><span class="share hidden sf-hidden">Share </span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                            </div>
                                            <footer><a ng-href=author/malcolm-forbes class="author bubble-trail" href=#><img ng-if=thought.thoughtAuthor.image ng-src=http://i.forbesimg.com/media/lists/quotebank/malcolm-forbes_100x100.jpg class=ng-scope src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill-opacity="0"/></svg>' style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-9)!important;background-size:100% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"> <cite class=ng-binding>Malcolm Forbes</cite></a></footer>
                                        </blockquote>
									</div>
									<div ng-repeat="thought in reated_theme_thoughts" class="column masonry-brick item thought ng-scope loaded" ng-switch=thought.type style=position:relative;left:0px;top:0px>
                                        <blockquote class="bubble ng-scope" ng-switch-default>
                                            <a ng-href=6314 href=#>
                                                <p class=ng-binding>The top people of the biggest companies are</p>
                                            </a>
                                            <div class=socialize gigya-sharing>
                                                <div class=social-icons><span class="share hidden sf-hidden">Share </span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                            </div>
                                            <footer><a ng-href=author/malcolm-forbes class="author bubble-trail" href=#><img ng-if=thought.thoughtAuthor.image ng-src=http://i.forbesimg.com/media/lists/quotebank/malcolm-forbes_100x100.jpg class=ng-scope src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill-opacity="0"/></svg>' style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-9)!important;background-size:100% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"> <cite class=ng-binding>Malcolm Forbes</cite></a></footer>
                                        </blockquote>
									</div>
									<div ng-repeat="thought in reated_theme_thoughts" class="column masonry-brick item thought ng-scope loaded" ng-switch=thought.type style=position:relative;left:0px;top:0px>
                                        <blockquote class="bubble ng-scope" ng-switch-default>
                                            <a ng-href=6314 href=#>
                                                <p class=ng-binding>The top people of the biggest companies are, surprisingly, often the nicest ones in their company I’m not sure, though, if they got there because they were good guys or that they’re now good guys because they can afford to be.</p>
                                            </a>
                                            <div class=socialize gigya-sharing>
                                                <div class=social-icons><span class="share hidden sf-hidden">Share </span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                            </div>
                                            <footer><a ng-href=author/malcolm-forbes class="author bubble-trail" href=#><img ng-if=thought.thoughtAuthor.image ng-src=http://i.forbesimg.com/media/lists/quotebank/malcolm-forbes_100x100.jpg class=ng-scope src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill-opacity="0"/></svg>' style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-9)!important;background-size:100% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"> <cite class=ng-binding>Malcolm Forbes</cite></a></footer>
                                        </blockquote>
									</div>
									<div ng-repeat="thought in reated_theme_thoughts" class="column masonry-brick item thought ng-scope loaded" ng-switch=thought.type style=position:relative;left:0px;top:0px>
                                        <blockquote class="bubble ng-scope" ng-switch-default>
                                            <a ng-href=6314 href=#>
                                                <p class=ng-binding>The top people of the biggest companies are, surprisingly, often the nicest ones in their company I’m not sure, though, if they got there because they were good guys or that they’re now good guys because they can afford to be.</p>
                                            </a>
                                            <div class=socialize gigya-sharing>
                                                <div class=social-icons><span class="share hidden sf-hidden">Share </span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                            </div>
                                            <footer><a ng-href=author/malcolm-forbes class="author bubble-trail" href=#><img ng-if=thought.thoughtAuthor.image ng-src=http://i.forbesimg.com/media/lists/quotebank/malcolm-forbes_100x100.jpg class=ng-scope src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill-opacity="0"/></svg>' style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-9)!important;background-size:100% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"> <cite class=ng-binding>Malcolm Forbes</cite></a></footer>
                                        </blockquote>
									</div>
									<div ng-repeat="thought in reated_theme_thoughts" class="column masonry-brick item thought ng-scope loaded" ng-switch=thought.type style=position:relative;left:0px;top:0px>
                                        <blockquote class="bubble ng-scope" ng-switch-default>
                                            <a ng-href=6314 href=#>
                                                <p class=ng-binding>The top people of the company I’m not sure, though, if they got there because they were good guys or that they’re now good guys because they can afford to be.</p>
                                            </a>
                                            <div class=socialize gigya-sharing>
                                                <div class=social-icons><span class="share hidden sf-hidden">Share </span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                            </div>
                                            <footer><a ng-href=author/malcolm-forbes class="author bubble-trail" href=#><img ng-if=thought.thoughtAuthor.image ng-src=http://i.forbesimg.com/media/lists/quotebank/malcolm-forbes_100x100.jpg class=ng-scope src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill-opacity="0"/></svg>' style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-9)!important;background-size:100% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"> <cite class=ng-binding>Malcolm Forbes</cite></a></footer>
                                        </blockquote>
									</div>
									<div ng-repeat="thought in reated_theme_thoughts" class="column masonry-brick item thought ng-scope loaded" ng-switch=thought.type style=position:relative;left:0px;top:0px>
                                        <blockquote class="bubble ng-scope" ng-switch-default>
                                            <a ng-href=6314 href=#>
                                                <p class=ng-binding>The top people of the biggest companies are, surprisingly</p>
                                            </a>
                                            <div class=socialize gigya-sharing>
                                                <div class=social-icons><span class="share hidden sf-hidden">Share </span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                            </div>
                                            <footer><a ng-href=author/malcolm-forbes class="author bubble-trail" href=#><img ng-if=thought.thoughtAuthor.image ng-src=http://i.forbesimg.com/media/lists/quotebank/malcolm-forbes_100x100.jpg class=ng-scope src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill-opacity="0"/></svg>' style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-9)!important;background-size:100% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"> <cite class=ng-binding>Malcolm Forbes</cite></a></footer>
                                        </blockquote>
									</div>
									</div>
                                <!-- </ul> -->
                            </section> 
                            <section class="thought-of-day-category thought-of-day clearfix ng-scope" ng-controller=ThoughtOfDay ng-include src=template_path>
                                <h2 class="h h2 ng-scope">
                                    Forbes Quote Of The Day
                                    <p>DAILY WISDOM BROUGHT TO YOU BY FORBES</p>
                                </h2>
                                <blockquote class="bubble ng-scope">
                                    <a href=# class=clearfix>
                                        <p class="p p2 ng-binding">Teach self-denial and make its practice pleasure, and you can create for the world a destiny more sublime that ever issued from the brain of the wildest dreamer.</p>
                                    </a>
                                    <div class=socialize gigya-sharing data-showprefix=true>
                                        <div class=social-icons><span class=share>Share <i class="icn forbesicon-share"></i></span> <a ng-click=postFacebook() class="icn forbesicon-facebook">F</a> <a ng-click=postTwitter() class="icn forbesicon-twitter"></a> <a ng-click=postLinkedin() class="icn forbesicon-linkedin"></a></div>
                                    </div>
                                    <footer><a ng-href=author/sir-walter-scott class="author bubble-trail" href=#><img ng-src=http://i.forbesimg.com/media/lists/quotebank/sir-walter-scott_100x100.jpg src="files/w2.jpeg"> <cite class=ng-binding>Sir Walter Scott</cite></a></footer>
                                </blockquote>
                            </section>
                         
							<section class="footer ng-scope" ng-controller=Footer ng-include src=template_path>
                                <div class="section_contain clearfix ng-scope">
                                    <strong>Quotes</strong>
                                    <ul class=clearfix>
                                        <li><a href=#>Advertise</a>
                                        <li><a href=# target=_self>Forbes Press Room</a>
                                        <li><a href=#>Forbes Careers</a>
                                        <li><a href=# target=_self>Contact Us</a>
                                        <li><a href=#>Help</a>
                                        <li><a href=# target=_self>Terms and Conditions</a>
                                        <li><a href=# target=_self>Privacy Statement</a>
                                        <li><a style=cursor:pointer target=_blank>AdChoices</a>
                                    </ul>
                                    <small>2015 Forbes.com LLC™ All Rights Reserved</small>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>